@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Outfit:wght@100;200;300;700;800;900&family=Sacramento&display=swap');

*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;

}
h1,h4,p,a{
    color: #fff;
    
}
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale ;
    background: rgb(13, 13, 13);
}
ul{
    list-style-type: none;
}
 
code{
    font-family: source-code-pro,menlo,monaco,consolas, "Courier New", monospace;
}
a{
    text-decoration: none;
}
 
.btn{
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
    color: white;
    cursor: pointer;
    border: 1px solid #fff;
}
.btn:hover{
    background: rgb(68, 68, 69);
}
.btn-light{
    background: black;
}


